body {
    font: small sans-serif;
}
#page {
    margin-left: 200px;
    background-color: #FFFFFF;
}
#maincontent {
    float: right;
    width: 100%;
}
#menuleftcontent {
    float: left;
    width: 200px;
    margin-left: -200px;
    background-color: #777777;
}
#clearingdiv {
    clear: both;
}
